{% extends "layout.html" %}
{% block body %} 
<div class="container">
    <div class="row g-0">
        <div class="col-5">
            <img src="{{url_for('static', filename='images/am logo.png')}}" class="img-fluid" alt=""/>
        </div>
        <div class="col-lg-7 px-5 pt-4">
                <h1 class="display-1 font-weight-bold py-3">
                    GeoReport
                   </h1>
                   <h3>Register your account</h3>
            <form method=POST action="{{ url_for('register') }}">
                <div class="form-row">
                    <div class="col-lg-7">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control my-3 p-4" name="username" placeholder="Username">
                </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-7">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control my-3 p-4" name="pass" placeholder="Password">
                </div>
                </div>
                <div class="col-lg-7">
                <button type="submit" class="btn1 mt-3 mb-5">Register</button>
            </div>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}